<div class="row">
  <div class="small-6 large-2 columns">
    <div>
      <p> Title </p>
      <%= @title %>
    </div>
    <div>
      <p> Year </p>
     <%= @year %>
    </div>
    <div>
      <p>Poster</p>
      <%= image_tag(@posters[:profile])  %>
    </div>
  </div>
</div>
  <%= link_to 'New Movie', new_movie_path %>
